<body>


  <div class="container-fluid">
    <div class="row half-row" *ngIf="bExibeDetalhe; else dash">
      <div class="dash-row col-3">
        <app-cadastro-pessoal (click)="showDash(1)" class="app"></app-cadastro-pessoal>
      </div>
      <div class="dash-row col-6">
        <app-cadastro-pessoal (click)="showDash(1)" class="app"></app-cadastro-pessoal>
      </div>
      <div class="dash-row col-3">
        <app-cadastro-pessoal (click)="showDash(1)" class="app"></app-cadastro-pessoal>
      </div>
    </div>

    <div class="row half-row" *ngIf="bExibeDetalhe; else dash">
      <div class="dash-row col-4">
        <app-cadastro-pessoal (click)="showDash(1)" class="app"></app-cadastro-pessoal>
      </div>
      <div class="dash-row col-3">
        <app-cadastro-pessoal (click)="showDash(1)" class="app"></app-cadastro-pessoal>
      </div>
      <div class="dash-row col-5">
        <app-cadastro-pessoal (click)="showDash(1)" class="app"></app-cadastro-pessoal>
      </div>
    </div>

    <ng-template #dash>
      <div class="dashboard-details painel">
        <button title="Voltar" (click)="showDash()">
          <i class="material-icons">dashboard</i>
        </button>

        <div class="col-12">
          olá mundos
        </div>

        <div class="row align-items-end">
          <div class="col-6 offset-md-9">
            <button class="btn-warn large-button">
              Editar
            </button>
            <button class="btn-succss large-button">
              Editar
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <div id="carouselMobileMenu" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <app-cadastro-pessoal class="app d-block w-100" alt="First slide"></app-cadastro-pessoal>
      </div>
      <div class="carousel-item">
        <app-cadastro-pessoal class="app d-block w-100" alt="Second slide"></app-cadastro-pessoal>
      </div>
      <div class="carousel-item">
        <app-cadastro-pessoal class="app d-block w-100" alt="Third slide"></app-cadastro-pessoal>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselMobileMenu" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselMobileMenu" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</body>