@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Do+Hyeon|Imprima');

$color-primary: rgb(26, 43, 64);
$color-accent: rgb(247, 241, 239);

$color-warning: rgb(255,64,129);
$color-success: rgb(26,188,156);
$color-info: rgb(52,152,219);

$font-primary: 'Imprima', sans-serif;
$border-spec: solid 0.7px $color-primary;

html, body { height: 100%; }

.container-fluid { height: 100%; }

.dash-row {
    height: 100%;
    padding-bottom: 1em;
    padding-right: 0px;
}

.half-row {
    height: 50%;
}

.painel {
    margin-top: 10px;
    margin-left: 5px;
    border: $border-spec;
    border-radius: 2px;
}

.app {
    & body {
        cursor: pointer;
        bottom: 10px;
        background: $color-accent;
        color:  $color-primary;

        padding: 10px;
        
        text-align: justify;
        font-size: 20px;
        font-family: $font-primary;
        
        & p.title {
            .material-icons {
                font-size: 48px;  
                display: table-cell;
                vertical-align: middle;
            }
            font-size: 24px;
            font-weight: bold;
            
            display: table;
            width: 50%;
        } &:hover {
            background: $color-primary;
            color: $color-accent;
        }
    }
}

.dashboard-details {
    & button {
        background: transparent;
        color: $color-accent;
        border: none;
        margin: 0.5em;
        padding: 0.5em;
        text-align: left;
        cursor: pointer;
    }

    // width: 50%;
    height: 100%;
    margin-right: 5px;
    background: $color-primary;
    color: $color-accent;
}

@media (max-width: 768px) { 
    .container-fluid { display: none; }
    #carouselMobileMenu, a.carousel-control-prev { color: $color-primary } 
}

@media (min-width: 768px) { 
    #carouselMobileMenu { display: none }
}

button {
    cursor: pointer;
    border-radius: 2px;
    font-size: 1.2em;
}   

.row .align-items-end {
    height: 11em;
}

button.large-button {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}

button.btn-warn {
    background: $color-warning;
    border: solid 0.5px rgb(224, 0, 129);

    &:hover {
        background: rgb(224, 0, 129);
    }
} 

button.btn-succss {
    background: $color-success;
    border: solid 0.5px rgb(26, 163, 141);

    &:hover {
        background: rgb(26, 163, 141);
    }
} 
